apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: dbt
  name: dbt
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: dbt
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.network/src-default: "true"
        io.kompose.service: dbt
    spec:
      containers:
        - image: lndmy/dbt
          name: dbt
          resources: {}
          volumeMounts:
            - name: hostvol
              mountPath: /usr/src/dbt
      restartPolicy: Always
      volumes:
        - name: hostvol
          hostPath:
            path: /Users/linhnguyen/Demos/my-demo-dbt-app/src

